<a href="https://colab.research.google.com/github/VolodymyrLnnk/IBM_Coursera_course/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* Python
* R
* SQL
* Java
* Julia
* Scala
* C/C++
* JavaScript
* Swift
* Go
* SAS

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Matplotlib
3. Pandas
4. SciPy
5. PyTorch
6. Seaborn
7. TensorFlow

|**Data Science Tools**|
|------|
|Tableau|
|Jupiter|
|Apache Spark|

###Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

##Author
VL